@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  text-align: center;
  background: chocolate;
  max-width: 1200px;
  margin: 10rem auto;
}

img {
  max-width: 150px;
  height: 10rem;
  object-fit: contain;
}

.b-wrapper {
  width: 100%;
  height: 10rem;
  background: chartreuse;
}

.b-wrapper .wrapper .images {
  display: flex;
  animation: swipe 5000ms linear infinite;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}